.bkg {
    padding: 200px 0;
    background: #8360c3;
    text-align: center;
    position: relative;

    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
    0% {
        background: #cae7b9;
    }
    25% {
        background: #f3de8a;
    }
    50% {
        background: #eb9486;
    }
    75% {
        background: #7e7f9a;
    }
    100% {
        background: #97a7b3;
    }
}
